extends layout

block content
    center#cert
        div.banner
            img#banner_back(src="/img/new8.jpg", alt="Background Image", height="580", width="1024")
            div.header_main
                img#iiitn_logo(src="https://prix0007.github.io/assests/images/logos/IIITN_Logo_Transperent_Back.png" alt="IIITN_Logo")
                p#iiitn_name <span>भारतीय सूचना प्रौद्योगिकी संस्थान, नागपुर</span> <br/>
                                |<span id="name_i">Indian Institute of Information Technology Nagpur </span><br />
                                | Institute of National Importance by the Act of Parliament <br/>
                                | The Indian Institute of Information Technology (PPP) Act , 2017
                img#tf_logo_cert(src='https://prix0007.github.io/assests/images/logos/full_logo_with_theme_black_compressed.png' alt='Tantrfiesta_Image')        
            center
                h3#certificate Certificate of #{toc}
                h2#name #{name}
                canvas#canvas
            center
                div.main_content
                    if certs==1
                        p has participated in the event #{event_name} 
                            | conducted by Indian Institute of Information Technology, Nagpur
                            | during Technical fest TantraFiesta 2K19 in the Academic Year 2019-2020.
                    if certs==2
                        p has Volunteered in the event #{event_name} 
                            | .TantraFiesta team is thankful for their active Participation. #{event_name} was conducted
                            | by Indian Institute of Information Technology, Nagpur
                            | during Technical fest TantraFiesta 2K19 in the Academic Year 2019-2020.
                    if certs==3
                        p has participated in the event #{event_name} 
                            | and secured Rank #{event_pos} in the event. Event was conducted
                            | by Indian Institute of Information Technology, Nagpur
                            | during Technical fest TantraFiesta 2K19 in the Academic Year 2019-2020.
                    if certs==4
                        p has participated in the event #{event_name} 
                            | conducted by Indian Institute of Information Technology, Nagpur
                            | during Technical fest TantraFiesta 2K19 in the Academic Year 2019-2020.
                    if certs==5
                        p has participated in TantraFiesta 2K19 conducted by Indian Institue of Information Technology, Nagpur
                            |  during  in the Academic Year 2019-2020 as
                            |  the <span style="font-weight: 700">#{designation}</span> in <span style="font-weight: 700">#{event_name}</span> Team and we thank them for their 
                            |  efforts and dedication.
                    if certs==0
                            p error certificate Not found yet Please contact TF Team.
                div#signature
                    #sign2
                        img(src="/img/sign1.jpg", alt="Dr. Kirti Doshedwar")
                        p Faculty In-Charge
                #footer_bottom
                    if certs!=0
                    center#overpush
                        p#hash https://etiam.serveo.net/tantrafiesta/certificate/#{_id}
                        p#timestamp Timestamp: #{time}
                    center
                        p#copy &copy; TantraFiesta 2K19. All Rights Reserved
    center
        button.waves-effect.waves-light.teal.darken-4.btn#print(onclick="printElem()") Print
    script(src='/js/qrcode.min.js')
    script(src='/js/qrcode.tosjis.min.js')
    script.
        var auth_link = " https://etiam.serveo.net/tantrafiesta/certificate/"+"#{_id}"
        QRCode.toCanvas(document.getElementById('canvas'), auth_link, { scale :2} ,function (error) {
        if (error) console.error(error)
        console.log('success!');
        })
        console.log(#{cert_type})
    script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')  
    script(src="/js/printThis.js") 
    script.
        function printElem(){
            //- window.print();
            //- var printContents = document.getElementById("cert").innerHTML;
            //- console.log(printContents)
            //- var originalContents = document.body.innerHTML;

            //- document.body.innerHTML = printContents;

            window.print();

            //- document.body.innerHTML = originalContents;
        }
